
body {
    background-color: #fdf2f8; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    text-align: left;
    margin: 0;
    padding: 20px;
}


.header-section {
    background-color: #ffffff;
    border: 3px solid #f472b6;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}


.content-block {
    position: relative;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.05);
    color: #be185d; 
    margin-bottom: 20px;
}

  .content-block ol, .content-block ul {
    margin-left: 20px;
  }
  
#top {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.top-button {
    font-weight: bold;
    color: #db2777;
    text-decoration: none;
    border: 1px solid #db2777;
    padding: 5px 10px;
}

.data-section {
    width: 90%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

img, iframe {
    display: block;
    margin: 20px auto; 
}

.game-link {
    text-align: center; /* This centers the "Bored?" text and the link */
    margin-bottom: 20px;
}

h2, h3 {
    text-align: center;
}